.home-page-container{
    margin:0px;
}
.header-un-order-list{
    width:82%;
    margin-bottom:-5px;
    padding-left:60px;
    padding-right:px;

}
.home-for-sm{
    font-family: "Roboto";
    color:rgb(194, 189, 189);
    font-size:20px;
}
.para-item{
    list-style-type: none;
    font-size:13px;
    padding-left:15px;
    padding-right:15px;
}
.filter-btn{
    font-size:13px;
}
.filter-hr-line{
    border:1px solid rgb(115, 108, 108);
    outline:none;
    height:20px;
    margin-right:5px;

}
.recommended-name{
    font-size:13px;
    font-family:"Roboto";
}
.active-recommended-value{
    font-family: "Roboto";
    font-size:7px;
    font-weight:bold;
}
.arrow-icon{
    height:20px;
    align-self:center;
    margin-top:5px;
}
.recommended-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-width:768px){
    .recommended-list-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:95%;
        align-items:center;
        margin-left:10px;
    }
}
.recommended-trigger-outline-card{
    border:none;
    outline:none;
    background-color: transparent;
}
.recommended-trigger-icon{
    border:none;
    background-color: transparent;
}
.recommended-list{
    background-color: none;
    border:none;
    outline:none;
}
.total-items-count-value{
    font-family:"Roboto";
    font-size:14px;
    align-self:center;
}
.right-arrow-for-lg{
    margin-bottom:14px;
    margin-left:20px;
}
.shows-filter-btn{
    text-decoration:underline;
    background-color: transparent;
    outline: none;
    border:none;
    align-self:center;
    margin-bottom:14px;
}
.data-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.products-loader-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.unorder-products-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.products-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}
.footer-section{
    background-color: #000000;
    width:100%;
}
.footer-heading-and-para{
    display: flex;
    flex-direction: column;
    margin:5px;
    margin-top:8px;
    margin-left:8px;
}
.footer-heading{
    font-family:"Roboto";
    font-size:14px;
    color:#ffffff;
}
.footer-para{
    font-family: "Roboto";
    font-size:14px;
    color:#fff
}
.text-input{
    border:none;
}
.footer-flag-image{
    height:30px;
    width:30px;
    margin-right:10px;
}
.arrow-icon-footer{
    margin-right:15px;
    height:20px;
    width:20px;
    color:white;
    font-weight:bold;
}
.footer-images{
    height:34px;
    width:42px;
    margin:5px;
}
.fotter-item{
    list-style-type: none;
    color:#ffffff;
}
.footer-end-para{
    text-align: center;
    font-family: "Roboto";
    font-size:18px;
    color:#ffffff;
}
.copyright-image{
    height:100px;
    width:100px;
}
.footer-last-heading{
    padding-left: 28px;
    font-size:16px;
    color:#ffffff;
    font-weight: bold;
}